<div>
    <h1 class='page_heading'><%= @scenario%></h1>
</div>
<div>
    <%= image_tag('hires_ok.png', size: '500x500')%>
</div>
<div>
    This is where to put the description of the scenario
</div>
<div>
    <%= link_to 'Start', show_path(@scenario), class: "scenario_start"%>
</div>