<div class="text_center">
    <h1>Scenario: <%=@scenario%></h1>
</div>
<img src="/assets/village.jpg" class="main_image">
<div class = "main_text">
    <p>You are a member of a team of public relations officers assigned to a project.
    This project is a joint alliance between the US and Peruvian governments. Your role
    on this project tea is to provide public updates on this hight profile project
    --- a project that is costing the US and Peruvian governments LOTS of money.</p>
</div>
<div class="text_center">
    <textarea class = "text_input" type="text" name = "testInput"></textarea>
</div>
