// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.scenario_table {
    align: center;
}

.text_center {
    text-align: center;
    padding: 40px;
}
 
.main_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 200px;
    padding-left: 200px;
    width: 30%;
    height: 30%;
}

.main_text {
    text-align: center;
    padding-top: 50px;
    padding-right: 200px;
    padding-left: 200px;
}

.text_input {
    // text-align: center;
    // padding-top: 50px;
    // padding-right: 200px;
    // padding-left: 200px;
    width: 300px;
    height: 100px;
}

.scenario_start {
    border-style: solid;
    border-color: black;
    background-color: lightgrey;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.page_heading {
    font-size: 50px;
}

tr:hover {background-color:#f5f5f5;}
